@use '../../../App' as *;

.up-btn {
  position: fixed;
  right: 15px;
  bottom: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: $primary-color;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
